<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body ontouchstart="">

    <script type="text/javascript" src="/js/particle.js"></script>
    <link rel="stylesheet" href="/css/backtop.css">  <!-- Back Top -->
    <script type="text/javascript" src="/js/backtop.js"></script>  <!-- Back Top -->

      <div class="go-top">
	<a href="#top" title="回到顶部"></a>
        <div class="arrow"></div>
        <div class="stick"></div>    
    </div>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>

</html>
